// Import library functions for theme creation.
@use '~@angular/material' as mat;
@import "~styles/basic/mixins/cross_browser_opacity";


@mixin create_own_color_classes($theme) {
  // Extract the palettes you need from the theme definition.

  // High attention
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  // Lower attention
  $primary-faded: transparentize(mat.get-color-from-palette($primary), 0.5);

  // Other
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $chart: map-get($theme, chart);
  $chartBool: map-get($theme, chartBool);

  // States
  $is-active: (
          foreground: $primary-faded,
          background: '');
  $is-hovered: (
          foreground: '',
          background: mat.get-color-from-palette($background, 'hover'));


  // Classes

  .color-primary {
    color: mat.get-color-from-palette($foreground, 'text');
    background-color: mat.get-color-from-palette($primary);
  }

  .color-accent {
    color: mat.get-color-from-palette($foreground, 'text');
    background-color: mat.get-color-from-palette($accent, darker);
  }

  .color-warn-bg {
    color: mat.get-color-from-palette($foreground, 'text');
    background-color: mat.get-color-from-palette($warn);
  }

  .color-is-active {
    background-color: map-get($is-active, foreground);
  }

  .color-is-disabled {
    color: mat.get-color-from-palette($foreground, 'disabled-text');
  }


  .color-is-active-outlined {
    border: 1px solid mat.get-color-from-palette($primary);    // faded + 1px width is to weak
  }

  .color-is-selected-outlined {
    border: mat.get-color-from-palette($primary);
    border-style: solid;
    border-width: 2px 0;
  }

  .color-when-hover:hover {
    background-color: map-get($is-hovered, background);
  }

  :root {
    --color-primary: #{mat.get-color-from-palette($primary)};
  }

  // load foreground

  @each $name, $color in $foreground {
    .color-foreground-#{$name} {
      color: $color;
    }
  }

  // load background

  @each $name, $color in $background {
    .color-#{$name} {
      color: mat.get-color-from-palette($foreground, 'text');
      background-color: $color;
    }
  }

  // load chart-data color

  :root {
    $counter: 0;
    @each $color in $chart {
      $mat-color: mat.get-color-from-palette($color);
      --color-chart-#{$counter}: #{mat.get-color-from-palette($color)};
      $counter: $counter + 1;
    }
  }

  $darken-chart-percent: 25%;
  :root {
    --color-chart-dark-0: #{darken( mat.get-color-from-palette( nth($chart, 1) ), $darken-chart-percent)};
    --color-chart-dark-1: #{darken( mat.get-color-from-palette( nth($chart, 2) ), $darken-chart-percent)};
    --color-chart-increase: green;
    --color-chart-decrease: red;
  }

  $is-active-foreground: map-get($is-active, foreground);
  :root {
    --color-slider-is-active: #{mat.get-color-from-palette($primary)};
    --color-slider-is-active-bg: #{$is-active-foreground};
  }


  .color-condition-match {
    fill: map-get($chartBool, condition-match-color);
    @include cross_browser_opacity(0.7);
  }

  .color-condition-no-match {
    fill: map-get($chartBool, condition-no-match-color);
    @include cross_browser_opacity(0.3);
  }

  // special

  .color-positive-number {
    color: green;
  }

  .color-negative-number {
    color: red;
  }

  .color-error-bg {
    background-color: red;
  }
}
