@use '~@angular/material' as mat;
// Import library functions for theme creation.

// font weights
$fw-light: 200;
$fw-regular: 400;
$fw-bold: 700;

// Define a mixin that accepts a theme and outputs the theme-specific styles.
$typography_roboto: mat.define-typography-config(
  $font-family: 'Roboto, monospace',
  $display-4: mat.define-typography-level(96px, 96px, $fw-bold), // Material Design h1
  $display-3: mat.define-typography-level(60px, 60px, $fw-bold), // h2
  $display-2: mat.define-typography-level(48px, 48px, $fw-bold), // h3
  $display-1: mat.define-typography-level(34px, 34px, $fw-bold), // h4
  $headline : mat.define-typography-level(24px, 24px, $fw-bold), // h5
  $title    : mat.define-typography-level(20px, 20px, $fw-bold), // h6
  $subheading-1: mat.define-typography-level(16px, 16px, $fw-bold), // sub1
  $subheading-2: mat.define-typography-level(14px, 14px, $fw-bold), // sub2
  $body-1   : mat.define-typography-level(16px, 16px, $fw-regular), // body 1
  $body-2   : mat.define-typography-level(14px, 14px, $fw-light), // body 2
  $button   : mat.define-typography-level(14px, 14px, $fw-bold), // button
  $caption  : mat.define-typography-level(12px, 12px, $fw-light), // caption
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat.define-typography-level(16px, 1.25, $fw-regular)
);
