@use '~@angular/material' as mat;

@function get-dark-theme() {
  $primary: mat.define-palette(mat.$red-palette, A200, A100, 500);
  $accent:  mat.define-palette(mat.$deep-purple-palette, A200, A100, 500);
  $warn:    mat.define-palette(mat.$deep-orange-palette);
  $chart:   get-default-chart-colors();

  @return (
          primary: $primary,
          accent: $accent,
          warn: $warn,
          is-dark: true,
          foreground: $modified-dark-theme-foreground,
          background: $modified-dark-theme-background,
          chart: $chart,
          chartBool: (condition-match-color: #62db1b, condition-no-match-color: #ff0000)
  );
}

// private

@function get-default-chart-colors() {
  @return (
    mat.define-palette(mat.$blue-palette, A200),
    mat.define-palette(mat.$green-palette, A200),
    mat.define-palette(mat.$orange-palette, A200),
    mat.define-palette(mat.$yellow-palette, A200),
    mat.define-palette(mat.$red-palette, A200),
    mat.define-palette(mat.$brown-palette, A200),
    mat.define-palette(mat.$cyan-palette, A200),
    mat.define-palette(mat.$pink-palette, A200),
    mat.define-palette(mat.$purple-palette, A200),
    mat.define-palette(mat.$gray-palette, A200),
  );
}


$modified-dark-theme-foreground: (
        base:              white,
        divider:           rgba(white, 0.12),
        dividers:          rgba(white, 0.12),
        disabled:          rgba(white, 0.5),
        disabled-button:   rgba(white, 0.3),
        disabled-text:     rgba(white, 0.5),
        elevation:         black,
        hint-text:         rgba(white, 0.5),
        secondary-text:    rgba(white, 0.7),
        icon:              #9fa3a7,
        icons:             #9fa3a7,
        text:              white,
        text-colored:      #9fa3a7,
        slider-min:        white,
        slider-off:        rgba(white, 0.3),
        slider-off-active: rgba(white, 0.3),
);

// Background palette for dark themes.
$modified-dark-theme-background: (
        status-bar: black,
        app-bar:    #222d36,
        background: #101d24,
        hover:      rgba(white, 0.04),
        card:       #222d36,
        dialog:     #222d36,
        disabled-button: rgba(white, 0.12),
        raised-button: map-get(mat.$grey-palette, 800),
        focused-button: rgba(white, 0.12),
        selected-button: map_get(mat.$grey-palette, 900),
        selected-disabled-button: map_get(mat.$grey-palette, 800),
        disabled-button-toggle: black,
        unselected-chip: map_get(mat.$grey-palette, 700),
        disabled-list-option: black,
        tooltip: map_get(mat.$grey-palette, 700),
);


