
@mixin cross_browser_opacity($opacity) {
  // $opacity should be between 0 and 1 (e.g. 0.7)
  $opacityInPercent: $opacity * 100;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $opacityInPercent + ")";
  /* IE 5-7 */
  filter: alpha(opacity=$opacityInPercent);
  /* Netscape */
  -moz-opacity: $opacity;
  /* Safari 1.x */
  -khtml-opacity: $opacity;
  /* Good browsers */
  opacity: $opacity;
}