<app-bar-return title="Options"></app-bar-return>


<ng-container *ngIf="userBanner$ | async as userBanner">
    <div class="x-padding-element-left-right" matRipple>
        <app-list-element-icon-and-text
                [title]="userBanner.title"
                [titleClass]="userBanner.titleClass"
                [icon]="userBannerIconPath"
                [callback]="userBannerCallback"
                [isIconImage]=true
                [disableRipple]=true>
        </app-list-element-icon-and-text>
    </div>
</ng-container>

<div class="x-padding-element-left-right">
    <mat-divider class="x-divider-section-left-free"></mat-divider>
</div>

<ng-container *ngFor="let item of options$ | async" >
    <div class="x-padding-element-left-right" matRipple>
        <app-list-element-icon-and-text
                [title]="item.title"
                [subtext]="item.subtext"
                [icon]="item.icon"
                [callback]="item.callback"
                [isIconImage]=false
                [disableRipple]=true>
        </app-list-element-icon-and-text>
    </div>
</ng-container>

