<app-bar-normal
        [title]=title
        [iconLeft]=iconBack
        (clickOnGivenElement)="location.back()">
</app-bar-normal>
<div class="x-padding-element-double font-body2">
    <div class="x-padding-element-bottom font-caption-colored">Disclaimer for {{appName}} GmbH</div>
    <div>
        If you require any more information or have any questions about our site's disclaimer,
        please feel free to contact us by email at {{email}}.

    </div>
    <div class="x-padding-element-double"></div>
    <div class="x-padding-element-bottom font-caption-colored">Definitions</div>
    <div>
        <b>We</b>, <b>us</b> and <b>our</b> refers to the {{appName}} GmbH.
    </div>
    <div class="x-padding-element"></div>
    <div>
        <b>App</b> means the {{appName}} website which could act as a progressive web app on mobile devices.
        The app is available under the url {{appUrl}}.
    </div>
    <div class="x-padding-element-double"></div>
    <div class="x-padding-element-bottom font-caption-colored">Disclaimers for the app</div>
    <div>
        The information provided on this app does not constitute investment advice, financial advice, trading advice,
        or any other sort of advice and you should not treat any of the app's content as such.
        We does not recommend that any cryptocurrency or other asset should be bought, sold, or held by you.
        Do conduct your own due diligence and consult your financial advisor before making any investment decisions.
    </div>
    <div class="x-padding-element"></div>
    <div>
        All the information on our app is published in good faith and for general information purpose only.
    </div>
    <div class="x-padding-element"></div>
    <div>
        We make no warranties about the completeness, reliability and accuracy of this information.
    </div>
    <div class="x-padding-element"></div>
    <div>
        Any action you take upon the information you find on the app is strictly at your own risk.
    </div>
    <div class="x-padding-element"></div>
    <div>
        We will not be liable for any losses and/or damages in connection with the use of our app.
    </div>
    <div class="x-padding-element"></div>
    <div>
        From our app you can visit other websites by following hyperlinks to such external sites.
        While we strive to provide only quality links to useful and ethical websites, we have no control over the content
        and nature of these sites.
    </div>
    <div class="x-padding-element"></div>
    <div>
        These links to other websites do not imply a recommendation for all the content found on these sites.
        Site owners and content may change without notice and may occur before we have the opportunity to remove a
        link which may have gone 'bad'.
    </div>
    <div class="x-padding-element"></div>
    <div>
        Please be also aware that when you leave our app, other sites may have different privacy policies and terms which
        are beyond our control.
        Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in
        any business or uploading any information.
    </div>
    <div class="x-padding-element-double"></div>
    <div class="x-padding-element-bottom font-caption-colored">Consent</div>
    <div>
        By using our app, you hereby consent to our disclaimer and agree to its terms.
    </div>
    <div class="x-padding-element-double"></div>
    <div class="x-padding-element-bottom font-caption-colored">Update</div>
    <div>
        Should we update, amend or make any changes to this document, those changes will be prominently posted here.
    </div>
</div>