
$duration-flip-appear: 0.25s;
$duration-flip-appear-slow: 0.5s;
$timing-function-flip-appear: linear;


$duration-flip-change: 0.5s;
$timing-function-flip-change: linear;


$duration-slide: 0.5s;
$timing-function-slide: ease;
