<app-bar-normal
        [title]=title
        [iconLeft]=iconBack
        (clickOnGivenElement)="location.back()">
</app-bar-normal>
<div class="x-padding-element-double font-body2">
    <div class="x-padding-element-bottom font-caption-colored">Preface</div>
    <div>
        In order to provide you with a great experience on this site we provide the functionality to set your preferences
        for how this site runs when you use it.
    </div>
    <div class="x-padding-element"></div>
    <div>
        In order to remember your preferences we need to set cookies so that this information can be called whenever you
        interact with a page is affected by your preferences.
    </div>
    <div class="x-padding-element-double"></div>
    <div class="x-padding-element-bottom font-caption-colored">What Are Cookies ?</div>
    <div>
        Cookies are small text files that can be used by websites to make a user's experience more efficient.
        They allow websites to recognize visitors when they return and include basic information about them that is checked
        and updated every time you visit the website.
    </div>
    <div class="x-padding-element-double"></div>
    <div class="x-padding-element-bottom font-caption-colored">Managing Your Cookies</div>
    <div>
        Some cookies are essential to the performance of our site (you cannot opt out from these cookies if you wish to use our site).
        Other cookies are mandatory for authentication and account creation. You can use our site without them but
        you have to accept them if you want to create an account to get more functionality.
        Below you will find a list of some of the third party cookies used by us
        <div class="x-padding-element-double"></div>
        <div class="x-padding-element x-border-radius-min color-card">
            <div class="x-flex-row x-padding-element-top-bottom">
                <div class="width-of-left-section font-caption">Name</div>
                <div class="x-padding-element"></div>
                <div class="font-sub2">_GRECAPTCHA</div>
            </div>
            <div class="x-flex-row x-padding-element-top-bottom">
                <div class="width-of-left-section font-caption">Purpose</div>
                <div class="x-padding-element"></div>
                <div class="font-body2">This cookie is set by Google reCAPTCHA, which protects our site against bots and spam.</div>
            </div>
            <div class="x-flex-row x-padding-element-top-bottom">
                <div class="width-of-left-section font-caption">Privacy policy</div>
                <div class="x-padding-element"></div>
                <a href="https://policies.google.com/privacy" class="x-link-color">Link to Google privacy policy</a>
            </div>
            <div class="x-flex-row x-padding-element-top-bottom">
                <div class="width-of-left-section font-caption">About</div>
                <div class="x-padding-element"></div>
                <a href="https://www.google.com/recaptcha/about/" class="x-link-color">About ReCAPTCHA</a>
            </div>
        </div>
    </div>
    <div class="x-padding-element-double"></div>
    <div>
        By default we will not place non-essential cookies unless you agreed to it.
    </div>
</div>
